/* --------------------------------- */
/* HTML, Body and Container */
/* --------------------------------- */
.container {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
    display: grid;
    margin-top: 70px;
    height: 90vh;
}

/* --------------------------------- */
/* Main and Children */
/* --------------------------------- */
main {
    /* Old code, keep as back-up */
    /* position: absolute; */
    /* top: 25%;
    left: 5%;
    width: 35%; */
    /* height: 60%;
    border-radius: 20px;
    padding: 20px;
    color: white; */
    width: 100%;
    max-height: 100%;
}

section {
    box-sizing: border-box;
    max-height: 30vh;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: black;
    /* background-color: orange; */
}

/* --------------------------------- */
/* HERE Map */
/* --------------------------------- */
#homeMap {
    /* Original Map Size: */
    /* width: 640px; */
    /* height: 480px; */

    width: 100vw;
    /* matches with container height */
    height: 90vh;
}

canvas {
    /* must set to 100% for dimensions */
    width: 100%;
    height: 100%;
}

/* --------------------------------- */
/* Map Modal */
/* --------------------------------- */
.modal-content {
    border-radius: 50px;
}

.modal-content > * {
    /* remove borders */
    border: 0;
}

.modal-header {
    /* center store logos */
    justify-content: center;
    /* remove extra space */
    padding-bottom: 0;
}

.modal-body {
    /* align ul and profile info div */
    display: flex;
    /* remove extra space */
    padding-bottom: 0;
}

.modal-body ul {
    /* marginalize to the right as much as possible */
    margin-right: auto;
    list-style: none;
}

.modal-body li {
    /* old width value */
    /* width: 70%; */
    padding: 10px;
    display: flex;
    align-items: center;
}

.items {
    /* horizontal padding only */
    padding: 0 1rem;
}

#profileInfo {
    width: auto;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#modalProfPic {
    border-radius: 50%;
}

#modalFirstName {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.storeLogos {
    /* insert property to scale images lower */
}

.icons {
    max-width: 50px;
    max-height: 50px;
}

.modal-footer {
    justify-content: center;
    flex-direction: column;
}

.modal-footer button {
    box-sizing: border-box;
    width: 180px;
}

/* --------------------------------- */
/* Media Queries */
/* --------------------------------- */


/* Tablet and Desktop View */
@media (min-width: 420px) {
    /* --------------------------------- */
    /* Geolocation Button */
    /* --------------------------------- */
    #reportButton {
        /* 8px top and bottom; 10px left and right */
        padding: 15px;
        /* circle border */
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        /* absolute from map */
        position: absolute;
        top: 7rem;
        right: 1rem;
        /* send to front over map */
        z-index: 99999;
        /* align i element to vertical center */
        display: flex;
        align-items: center;
    }
}

/* Mobile View */
@media (max-width: 419px) {
    .container {
        /* wack */
        /* margin-top: auto; */
        max-height: 90vh;
    }

    #homeMap {
        /* position: absolute; */
        /* top: 50%;
        left: 10%; */
        /* width: 80%;
        height: 30%; */
        /* width: 100vw;
        height: 100vh; */
        height: 100%;
    }

    .items {
        display: none;
    }

    .stocks {
        padding: 0 1rem;
    }

    #reportButton {
        bottom: 2rem;
        right: 2rem;
    }

    #reportButton {
        /* 8px top and bottom; 10px left and right */
        padding: 15px;
        /* circle border */
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        /* absolute from map */
        position: absolute;
        bottom: 7rem;
        right: 1rem;
        /* send to front over map */
        z-index: 99999;
        /* align i element to vertical center */
        display: flex;
        align-items: center;
    }

    span {
        text-align: center;
    }
}


/* --------------------------------- */
/* For navbar */
/* --------------------------------- */
/* .selectors button{
    border: 0;
    border-radius: 0;
    background-color: #f8f9fa !important;
    width:33.33%;
    margin-left: 0;
} */