/* --------------------------------- */
/* -----HTML, Body and Container---- */
/* --------------------------------- */
.container {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
    display: grid;
    margin-top: 70px;
    height: 90vh;
}

/* --------------------------------- */
/* ---------Main and Children------- */
/* --------------------------------- */
main {
    width: 100%;
    max-height: 100%;
}

section {
    box-sizing: border-box;
    max-height: 30vh;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: black;
}

/* --------------------------------- */
/* ----------  HERE Map  ----------- */
/* --------------------------------- */
#homeMap {
    width: 100vw;
    height: 90vh;
}

canvas {
    width: 100%;
    height: 100%;
}

/* --------------------------------- */
/* ------------- Map Modal --------- */
/* --------------------------------- */
.modal {
    z-index: 99999;
}

.modal-dialog {
    text-align: center;
}

.modal-content {
    border-radius: 50px;
}

.modal-content > * {
    border: 0;
}

.modal-header {
    justify-content: center;
    padding-bottom: 0;
}

.modal-body {
    padding-bottom: 0;
    width: 100%;
}

.modal-body ul {
    list-style: none;
    padding: 0;
}

.modal-body li {
    width: 65%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.items {
    margin-left: 1rem;
    width: 10rem;
    text-align: left;
}

#profileInfo {
    width: auto;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#modalProfPic {
    border-radius: 50%;
}

#modalFirstName {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.icons {
    max-width: 50px;
    max-height: 50px;
}

.modal-footer {
    justify-content: center;
    flex-direction: column;
}

.modal-footer button {
    box-sizing: border-box;
    width: 180px;
}

#closeMarker {
    float: none;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    font-size: 4rem;
    color: white;
    background-color: red;
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 1;
}

/* --------------------------------- */
/* ---------- Media Queries -------- */
/* --------------------------------- */


/* Tablet and Desktop View */
@media (min-width: 420px) {
    #reportButton {
        padding: 15px;
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        position: absolute;
        top: 7rem;
        right: 1rem;
        z-index: 9999;
        display: flex;
        align-items: center;
    }
}

/* Mobile View */
@media (max-width: 419px) {
    .container {
        margin-top: auto;
        height: 100vh;
    }

    #homeMap {
        height: 100%;
    }

    .items {
        display: none;
    }

    .stocks {
        padding: 0 1rem;
    }

    #reportButton {
        bottom: 2rem;
        right: 2rem;
    }

    #reportButton {
        padding: 15px;
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        position: absolute;
        bottom: 6rem;
        right: 1rem;
        z-index: 99999;
        display: flex;
        align-items: center;
    }

    span {
        text-align: center;
    }
}