.container {
    /* hide overflowing map to the right */
    overflow-x: hidden;
}

/* #homeMap {
    margin: 0;
    width: 640px;
    height: 480px;
} */

.modal-body ul {
    list-style: none;
}


#homeMap {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 50%;
    height: 60%;
}

main {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 35%;
    height: 60%;
    border-radius: 20px;
    padding: 20px;
    background-color: orange;
    color: white;
}

/* mobile view */
@media screen and (max-width: 419px) {
    /* insert code here */
    /* .container {
        overflow-x: hidden;
    }
    
    #homeMap {
        margin: 0;
        width: 100vw;
        height: 480px;
    } */
}