/* desktop view */
@media (min-width: 1025px) {
    #logincontainer {
        border-radius: 25px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 180px;   
    }
    #login_backimg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
    }
}

/* tablet view */
@media (min-width: 400px) and (max-width: 1024px) {
    #logincontainer {
        margin: auto;
        background-color: white;
        margin-top: 50vh;
        width: 350px;
        height: 30vh;   
        padding: 2vh;
    }
    #login_backimg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
    }
}

/* mobile view */
@media (max-width: 399px) {
    
}