/* --------------------------------- */
/* ---- HTML, Body and Container --- */
/* --------------------------------- */
.container{
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
    display: grid;
    margin-top: 70px;
    height: 90vh;
}

/* --------------------------------- */
/* ------- Main and Children ------- */
/* --------------------------------- */
main {
    width: 100%;
    max-height: 100%;
}

section {
    box-sizing: border-box;
    max-height: 30vh;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: black;
}

/* --------------------------------- */
/* ----------- HERE Map ------------ */
/* --------------------------------- */
#homeMap {
    width: 100vw;
    height: 90vh;
}

canvas {
    width: 100%;
    height: 100%;
}

/* --------------------------------- */
/* ------------ Map Modal ---------- */
/* --------------------------------- */
.modal-body ul {
    list-style: none;
}

.modal-body li {
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.modal-body li span {
    padding-left: 5px;
    padding-right: 5px;
}

.icons {
    max-width: 50px;
    max-height: 50px;
}


.modal-footer {
    justify-content: center;
}


/* --------------------------------- */
/* --------- Media Queries --------- */
/* --------------------------------- */


/* Tablet and Desktop View */
@media (min-width: 420px) {
    #reportButton {
        padding: 15px;
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        position: absolute;
        top: 7rem;
        right: 1rem;
        z-index: 99999;
        display: flex;
        align-items: center;
    }
}

/* Mobile View */
@media (max-width: 419px) {
    .container {
        margin-top: auto;
    }

    #homeMap {
        height: 100%;
    }

    #reportButton {
        bottom: 2rem;
        right: 2rem;
    }

    #reportButton {
        padding: 15px;
        border-radius: 50%;
        color: white;
        background-color: #1A73E8;
        position: absolute;
        bottom: 7rem;
        right: 1rem;
        z-index: 99999;
        display: flex;
        align-items: center;
    }

    span {
        text-align: center;
    }
}

/* --------------------------------- */
/* ------- For notification -------- */
/* --------------------------------- */
#totalReport{
    color: rgb(189, 25, 25);
}
