/* desktop view */
@media (min-width: 1025px) {
    
}

/* tablet view */
@media (min-width: 400px) and (max-width: 1024px) {
    
}

/* mobile view */
@media (max-width: 399px) {
    
}

/* --------------------------------- */
/* ------ Geolocation Button ------- */
/* --------------------------------- */
#reportButton {
    padding: 8px 10px;
    /* circle border */
    border-radius: 50%;
    color: white;
    background-color: #1A73E8;
    /* absolute from map */
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    /* send to front over map */
    z-index: 99999;
    /* align i element to vertical center */
    display: flex;
    align-items: center;
}

/* --------------------------------- */
/* -------- For notification ------- */
/* --------------------------------- */
#totalReport{
    color: #1E90FF;
}
