/* desktop view */
@media (min-width: 1025px) {
    
}

/* tablet view */
@media (min-width: 400px) and (max-width: 1024px) {
    
}

/* mobile view */
@media (max-width: 399px) {
    
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: grey; */
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}
/* --------------------------------- */
/* For notification */
/* --------------------------------- */
#totalReport{
    color: #1E90FF;
}