.container {
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    width: 100%;
}

.grid-item {}

/* desktop view */
@media (min-width: 1025px) {
    .item1 {
        grid-row: 1 / span 3;
    }

    #userPrifilePic {
        width: 200px;
        height: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto 150px auto;
        padding: 10px;
        /* margin-left: 30px; */
        /* border-radius: 30px; */
        /* margin: 5px; */
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
}

/* tablet view */
@media (min-width: 400px) and (max-width: 1024px) {
    .item1 {
        grid-row: 1 / span 3;
    }

    #userPrifilePic {
        width: 200px;
        height: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto 150px auto;
        background-color: white;
        padding: 10px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
}

/* mobile view */
@media (max-width: 399px) {
    #userPrifilePic {
        width: 80px;
        height: 120px;
    }

    .grid-container {
        display: grid;
        padding: 10px;
        margin: 25px 0px 50px 0px;
        line-height: 1em;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .item2,
    .item4,
    .item6,
    .item9 {
        margin-bottom: -18px;
    }

    .item3,
    .item5,
    .item7 {
        border-bottom: 1px solid black;
    }

    .item8 {
        grid-area: two;
        font-size: 25px;
        border-bottom: 1px solid black;
    }

}