.container {
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    margin:auto;
    margin-top: 50px;
    border-radius: 30px;
    width: 100%;
}

#userProfilePic {
    width: 300px;
    height: 300px;
}


/* regarding progress bar */
#expBar {
    width: 100%;
    background-color: #ddd;
    border-radius: 15px;
}

#userBar {
    width: 0%;
    height: 30px;
    background-color: #3792cb;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px;
}

.item4 {
    width: 100%;
}

/* desktop view */
@media (min-width: 1025px) {
    .item1 {
        grid-row: 1 / span 3;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        /* margin-left: 30px; */
        /* border-radius: 30px; */
        /* margin: 5px; */
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    
    
}

/* tablet view */
@media (min-width: 420px) and (max-width: 1024px) {
    .item1 {
        grid-row: 1 / span 3;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: white;
        padding: 10px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
}

/* mobile view */
@media (max-width: 419px) {
    #expBar {
        width: 80%;
    }
    #userProfilePic {
        width: 120px;
        height: 120px;
    }

    .grid-container {
        display: grid;
        padding: 10px;
        margin: 25px 0px 25px 0px;
        line-height: 1em;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

    .item1 {
        margin-bottom: -20px;
    }

    .item2, .item3, .item4 {
        margin: -15px 0 -15px 0;
    }

    .item5 {
        font-size: 25px;
        border-bottom: 1px solid grey;
    }

    .item4 {
        grid-area: two;
    }

    .item5 {
        grid-area: three;
    }

}