/* EXAMPLE 1 */
/* #example1 .ui-slider-bg{
    -webkit-transition:background-color 0.2s;
    transition: background-color 0.2s;
} */
/* EXAMPLE 2 */
.sliderBackColor {
    height: 100%;
    width: 33.33%;
    float: left;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    text-shadow: 0px 1px 2px #333;
}

.red {
    background-color: #FF3D3D;
}

.green {
    background-color: #B2B812;
}

.orange {
    background-color: #FF952B;
}

.ui-slider-track>div.sliderBackColor:first-child {
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
}

.ui-slider-track>div.sliderBackColor:last-of-type {
    border-top-right-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
}

/* EXAMPLE 2a */
.sliderTickmarks {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    float: left;
    border-right: 1px solid #888;
}

.sliderTickmarks span {
    position: relative;
    left: 100%;
    top: 125%;
    margin-left: -px;
    font-size: 12px;
    font-weight: normal;
}

.ui-slider-track>div.sliderTickmarks:first-child {
    border-right: 0;
    width: 0;
}

.ui-slider-track>div.sliderTickmarks:first-child span {
    margin-left: -5px;
}

.ui-slider-track>div.sliderTickmarks:last-of-type {
    border-right: 0;
}

/* EXAMPLE 3 */
#example3 .ui-slider .ui-btn {
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}

.glowBlue .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #127A97;
}

.glowYellow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #F9BA15;
}

.glowRed .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #BF0C43;
}

.glowGreen .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #8EAC00;
}

/* EXAMPLE 4 */
.full-width-slider input {
    display: none;
}

.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

/* EXAMPLE 5 */
#example5 .ui-slider-handle {
    -webkit-transition: left 0.1s;
    transition: left 0.1s;
    width: 60px;
    margin-left: -30px;
}

.switch5BackColor {
    height: 100%;
    width: 20%;
    float: left;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    text-shadow: 0px 1px 2px #333;
}

.ui-slider-track>div.switch5BackColor:first-child {
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
}

.ui-slider-track>div.switch5BackColor:last-of-type {
    border-top-right-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
}

.pos1 {
    background-color: #BD2A33;
}

.pos2 {
    background-color: #D6AA26;
}

.pos3 {
    background-color: #93A31C;
}

.pos4 {
    background-color: #408156;
}

.pos5 {
    background-color: #30374F;
}

.pos1glow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #BD2A33;
}

.pos2glow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #D6AA26;
}

.pos3glow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #93A31C;
}

.pos4glow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #408156;
}

.pos5glow .ui-slider .ui-btn:focus {
    box-shadow: 0 0 12px #30374F;
}