/* --------------------------------- */
/* Root Element (same level as HTML) */
/* --------------------------------- */
:root {
    /* Calibri font master race */
    font-family: Calibri;
    /* 1 rem == 16px */
    font-size: 16px;

    /* variables go below */
    /* insert vars here */
}

/* -------------------------------- */
/* HTML, Body, Container */
/* -------------------------------- */
html, body, .container {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* -------------------------------- */
/* Container */
/* -------------------------------- */
.container {
    /* Override height value from previous selector */
    height: 80vh;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
    
    /* grid-template-rows: 20% 10% 60% 10%; */
}

/* -------------------------------- */
/* Header */
/* -------------------------------- */
header {
    grid-area: header;
    /* height: 20px; */
    /* FOR TESTING PURPOSES: */
    background-color: aqua;
}

/* -------------------------------- */
/* Nav */
/* -------------------------------- */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    /* position: fixed; */
    height: 60px;
    width: 100%;
    background-color: gray;
}

/* add class name to this element later */
nav ul {
    list-style: none;
    display: flex;
    /* Change direction to row */
    flex-direction: row;
    /* New Formatting Code: */
    margin: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;

    /* Old Code: */
    /* No margin top and bottom but center horizontally
        by automatically adding left and right margins */
    /* margin: 0 auto; */
}

/* -------------------------------- */
/* Main */
/* -------------------------------- */
main {
    grid-area: main;
    margin: 0;
    padding: 0;
    /* FOR TESTING PURPOSES: */
    background-color: blueviolet;
    border: 1px solid black;
}

/* -------------------------------- */
/* Footer */
/* -------------------------------- */
footer {
    grid-area: footer;
}

/* -------------------------------- */
/* Media Queries */
/* -------------------------------- */
/* tablet view */
@media (min-width: 420px) and (max-width: 1024px) {
    /* insert code here */
}

/* mobile view */
@media (max-width: 419px) {
    /* insert code here */
    .container {
        grid-template-areas:
            "header"
            "mobile_main"
            "mobile_nav"
            "footer"
        ;
        /* grid-template-rows: 10% 70% 20%; */
    }

    main {
        grid-area: mobile_main;
    }

    nav {
        grid-area: mobile_nav;
    }

    footer {
        display: none;
    }
}