/* --------------------------------- */
/* Root Element (same level as HTML) */
/* --------------------------------- */
:root {
    /* Calibri font master race */
    font-family: Calibri;
    /* 1 rem == 16px */
    font-size: 16px;

    /* variables go below */
    /* insert vars here */
}

/* -------------------------------- */
/* HTML, BODY */
/* -------------------------------- */
html,
body,
.container {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
}

nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: gray;
}


/* tablet view */
@media (min-width: 420px) and (max-width: 1024px) {
    /* insert code here */
}

/* mobile view */
@media (max-width: 419px) {
    /* insert code here */
}