/* --------------------------------- */
/* Root Element (same level as HTML) */
/* --------------------------------- */
:root {
    /* Calibri font master race */
    font-family: Calibri;
    /* 1 rem == 16px */
    font-size: 16px;

    /* variables go below */
    /* insert vars here */
}

/* -------------------------------- */
/* HTML, BODY */
/* -------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
}
.container {
    display: block;
}

header {
    height: 60px;
    display: block;
}

#blank {
    height: 150px;
    display: block;
}
/*
nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: gray;
}
*/

#menuNav {
    position: fixed;
    width: 100%;
    left: 0px;
    border-top: 10px solid white;
    background-color: white;
}

ul#ul_nav {
    margin: 0px;
    display: flex;
    list-style: none;
}

li {
    flex-grow: 5;
    text-align: center;
    display: inline-block; 
    line-height: 55px; 
    padding: 0 30px;
}



.nav-item {
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.nav-active {
    font-weight: bold;
    border-radius: 10px;
    background-color: tomato;
    color: white;
}


#search_text {
    background-color: white;
    color: grey;
    padding: 0 0 0 10px;
}

#search_btn {
    background-color: grey;
    color: white;
}

.left_col {
    float: left;
    width: 70%;
}

.right_col {
    float: right;
    width: 30%;
}

/* tablet view */
@media (min-width: 420px) and (max-width: 1024px) {
    /* insert code here */
}

/* mobile view */
@media (max-width: 419px) {
    /* insert code here */
    ul#ul_nav {
        padding: 5px;
        margin: 0px;
        display: block;
        list-style: none;
    }

    .nav-item {
        padding: 3px;
        color: grey;
    }

    .nav-active {
        border-radius: 5px;
        background-color: tomato;
        padding: 3px;
        color: white;
    }

}